<div class="multistep-container">
  <section class="multistep-info">
      <h2 class="multistep-title">{{ second_title }}</h2>
      <div class="multistep-description">{{ second_description|raw }}</div>
  </section>
  <section class="multistep-form">
       {{ validateForm }}
  </section>
</div>
